#jinja2: lstrip_blocks: "True", trim_blocks: "True"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: casc-cis-ingress
  annotations:
    kubernetes.io/ingress.class: "{{ ingress_class }}"
    {% if tls_enabled %}
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
    {% endif %}
spec:
  rules:
    - host: "{{ admin_subdomain }}.{{ domain }}"
      http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: admin
                port:
                  number: 80
    - host: "{{ fill_subdomain }}.{{ domain }}"
      http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: fill
                port:
                  number: 80
  {% if tls_enabled %}
  tls:
    - secretName: "{{ domain }}"
      hosts:
        - "*.{{ domain }}"
  {% endif %}